<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Fitness Guru</title>
    <link rel="icon" href="images/icon-healing.png">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- HAVE TO INCLUDE VALIDATOR TO USE VALIDATOR!!!! THIS THING TOOK ME AN HOUR TO SOLVE -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
    <link rel="stylesheet" href="./styles/styles.css">

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil|Wallpoet" rel="stylesheet">

    <!-- APPLICATION SCRIPTS -->

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="./scripts/handlebars-v4.0.10.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="./scripts/authen.js"></script>
    <script src="./scripts/fitness.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['gauge']});
      google.charts.load('current', {'packages':['corechart']});
    </script>
    <script src="./scripts/app.js"></script>

</head>

<body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <img height=45 src="images/icon-healing.png" />
        <button id="log-in-btn" class="btn-primary pull-right">Log in</button>
        <button id="create-btn" class="btn-primary pull-right">Sign up</button>
        <button id="log-out-btn" class="btn-primary pull-right" style="display:none">Log out</button>
    </nav>
    <header class="jumbotron">
    <div class="row">
        <div class="img"></div>
    <div class="col-md-7 col-xs-7">
        <div class="container">
            <h1>Fitness Guru</h1>
            <p>Your guru for all things fitness</p>
        </div>
    </div>
    <div class="col-md-5 col-xs-5">
        <img height=300 src="images/icon-healing.png" />
    </div>
    </div>
    </header>

    <!-- BEGIN FORM SAMPLE -->
    <div id="panel-body">
        <!-- BEGIN BUILTIN CONTENT -->
        <div id="built-in-content" style="display:">
            <div class="row">
                <div class="col-md-7" style="margin-left:25px">
                    <p style="margin-top: 20px">Fitness Guru is your home for achieving your fitness goals. Sign up and tell us your fitness goal. We'll give you an assessment right away. Next, if you need to adjust your Body Mass Index (BMI), we'll give you the tool for tracking your weight over time.</p>
                    <p>Sign up today!</p>
                </div>
                <div class="col-md-4" id="scatterDiv"></div>
            </div>
        </div>
        <!-- END BUILTIN CONTENT -->

        <!-- LOG IN FORM START -->
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                <div class="col-md-8 col-xs-8 col-md-offset-2" id="log-in-panel" style="display:none">
                    <h2>Welcome! Please log in</h2>
                    <form class="form-horizontal" id="log-in-submit">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="userId">User ID:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="userId" placeholder="Enter ID">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">Password:</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" name="pwd" placeholder="Enter password">
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label><input type="checkbox"> Remember me</label>
                                </div>
                            </div>
                        </div> -->
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- LOG IN FORM END -->

        <!-- CREATE PROFILE FORM START -->
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">

                <div id="create-form-panel" style="display:none">
                    <h2>Create New Account</h2>
                    <form class="form-horizontal" id="create-form" role="form" data-toggle="validator">
                        <!-- First col -->
                        <div class="col-md-6 col-sm-4">
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="name">Name:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="name" placeholder="E.g., John Smith" minlength=6 required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="gender">Gender:</label>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <select class="form-control" name="gender">
                                    <!-- <option value=""></option> -->
                                    <option value="other">other</option>
                                    <option value="female">female</option>
                                    <option value="male" selected>male</option>
                                  </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="age">Age:</label>
                                <div class="col-sm-3">
                                    <input type="number" class="form-control" name="age" min="18" placeholder="18 +" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="userId">User ID:</label>
                                <div class="col-sm-9">
                                    <input id="create-id" type="text" class="form-control" name="userId" placeholder="E.g., user1234 (no spaces)" minlength=6 required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="pwd">Password:</label>
                                <div class="col-sm-9">
                                    <input id="create-pwd" type="password" class="form-control" name="pwd" placeholder="Minimum of 8 characters" minlength=8 required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="pwd">Confirm Password:</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" name="confirm-pwd" placeholder="Must be the same" data-match="#create-pwd" data-match-error="Whoops, these don't match" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Second col -->
                        <div class="col-md-6 col-sm-4">
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="height">Height:</label>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <select class="form-control" name="feet">
                                  <option value="2">2ft</option>
                                  <option value="3">3ft</option>
                                  <option value="4">4ft</option>
                                  <option value="5" selected="selected">5ft</option>
                                  <option value="6">6ft</option>
                                  <option value="7">7ft</option>
                                  <option value="8">8ft</option>
                                </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="form-control" name="inch">
                                  <option value="0">0"</option>
                                  <option value="1">1"</option>
                                  <option value="2">2"</option>
                                  <option value="3">3"</option>
                                  <option value="4">4"</option>
                                  <option value="5">5"</option>
                                  <option value="6">6"</option>
                                  <option value="7">7"</option>
                                  <option value="8" selected="selected">8"</option>
                                  <option value="9">9"</option>
                                  <option value="10">10"</option>
                                  <option value="11">11"</option>
                                </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="weight">Weight (lb):</label>
                                <div class="col-sm-3">
                                    <input type="number" class="form-control" name="weight" min="40" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3" for="fitnessGoal">Fitness Goal:</label>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <select class="form-control" name="fitnessGoal">
                                  <option value="strength">Strength</option>
                                  <option value="building">Building</option>
                                  <option value="condition" selected>Condition</option>
                                </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- CREATE FORM END -->

            <!-- BEGIN ADMIN PANEL -->
            <div id="admin-panel" class="row" style="display:none; background-color: #ffa54f;">
              <div class="col-md-10 col-md-offset-1">
                <h1 class="text-center">Dashboard</h1>
                  <table border=2>
                      <tr>
                          <td>Total numb users</td>
                          <td>Total numb rec'd weights</td>
                          <td>Gender breakdown</td>
                          <td>Avg weight</td>
                      </tr>
                      <tr>
                          <td><span id="db1">100</span></td>
                          <td><span id="db2">515</span></td>
                          <td><span id="db3">30</span>% M /
                              <span id="db4">70</span>% F /
                              <span id="db5">0 </span>% O</td>
                          <td><span id="db6">160</span> lbs</td>
                      </tr>
                  </table>
              </div>
            </div>
            <!-- ADMIN PANEL END -->

            <!-- Recommendation START -->
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div id="recommendation" style="display:none">
                        <!-- first row -->
                        <div class="row" style="margin-top:10px">
                            <div class="col-md-5 col-xs-12">
                                <h1>Hello, <span id="user-name"></span>!</h1>
                            </div>
                            <div class="col-md-7 col-xs-12" style="margin-top: 30px">
                                <div class="row" id="show-weight" style="display:">
                                    <p style="display: inline-block; font-size: 18px">Current weight: <span id="weightSpan"></span>(lb)</p>
                                    <button id="update-weight-btn" class="btn btn-default" type="button" style="margin-left: 10px">update </button>
                                </div>
                                <div class="row">
                                    <div id="new-weight" style="display:none">
                                        <form id="update-weight">
                                            <label class="control-label col-sm-3" for="weight" style="font-size: 18px">New weight:</label>
                                            <input id="new-weight-field" type="number" class="col-sm-2" name="weight" min="40" size=6 maxlength=3 required>
                                            <input type="submit" class="btn btn-default" style="margin-left: 10px" value="Submit">
                                        </form>
                                    </div>
                                </div>
                                <div class="row" id="show-goal" style="display:">
                                    <p style="display: inline-block; font-size: 18px">Fitness goal: <span id="goalSpan"></span></p>
                                    <button id="update-goal-btn" class="btn btn-default" type="button" style="margin-left: 10px">update </button>
                                </div>
                                <div class="row">
                                    <div id="new-goal" style="display:none">
                                        <!-- <div class="col-sm-12"> -->
                                        <form id="update-goal">
                                            <label class="control-label col-sm-3" for="fitnessGoal" style="font-size: 18px">Change goal:</label>
                                            <div class="col-sm-4">
                                                <select class="form-control" name="fitnessGoal">
                                  <option value="strength">Strength</option>
                                  <option value="building">Building</option>
                                  <option value="condition" selected>Condition</option>
                                </select>
                                            </div>
                                            <!-- <input type="number" name="foo" size=6> -->
                                            <!-- </div> -->
                                            <input type="submit" class="btn btn-default" style="margin-left: 10px" value="Submit">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- second row -->
                        <div class="row" style="height: 350px; margin-top: 30px">
                            <div class="col-md-5 col-xs-12 bmi-chart">
                                <h1>BMI Chart</h1>
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-2" id="bmi-chart"></div>
                                </div>
                            </div>
                            <div class="col-md-7 col-xs-12 line-chart">
                                <h1>Weight History</h1>
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-1" id="weight-chart"></div>
                                </div>
                            </div>
                        </div>
                        <!-- third row -->
                        <div class="row" style="margin-top:40px">
                            <div class="col-md-4 col-xs-12 recBlock">
                                <!-- for resistance-->
                                <div class="col-md-12 recTitle">
                                    <h1 class="text-center">Resistance</h1>
                                </div>
                                <div class="col-md-12 recContent" id="rec-resistance">
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-12 recBlock ">
                                <!-- for cardio -->
                                <div class="col-md-12 recTitle">
                                    <h1 class="text-center">Cardio</h1>
                                </div>
                                <div class="col-md-12 recContent" id="rec-cardio">
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-12 recBlock">
                                <!-- for nutrition -->
                                <div class="col-md-12 recTitle">
                                    <h1 class="text-center">Nutrition</h1>
                                </div>
                                <div class="col-md-12 recContent" id="rec-nutrition">
                                </div>
                            </div>
                            </div>
                        </div>
                        <!-- end of third row -->
                    </div>
                </div>
            </div>
            <!-- Recommendation END -->
        </div>
    </div>
    <!-- end of panel-body -->
    <footer>
        <p style="text-align: center; padding-top: 20px;">Made by: 
          <a target="_blank" href="https://sherwin32.github.io/">Sherwin Shann</a> and 
          <a target="_blank" href="https://tam94131.github.io/">Tahl Milburn</a><br>
          @General Assembly 2017
        </p>
    </footer>
</body>
</html>